@()

@main("Nine men's morris") {
<div id="presence">
    <div id="textarea justify">
        <h1 id="nine_header">Presence</h1>
        <p>
        <h2>Here you can find more information about the: <b>World Association of Nine Men's Morris</b></h2>
        </p>
        <p>
            <br>The World Association of Nine Men's Morris organized there last European Championship in Budapest.
            <br>They also publish their Ranking of the best Nine Men´s Morris players and their scores.
        </p>
    </div>
    <h2>Here you can go through the world ranking</h2>
    <div id='showWR'></div><br>
    <input type="button" onclick="previous()" value="<<">
    <input type="button" onclick="next()" value=">>">
</div>
}